.container_form-login_newUser {
  width: 40%;
  min-width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background-color: $primaryColorLight;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  padding: 25px 15px;
  border-radius: 5px;
  box-shadow: 6px 10px .5rem #c8c8c8;

  h1 {
    align-self: center;
    width: 400px;
    text-align: center;
  }
}

.container-buttons_form-login_newUser {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

.form-login_newUser {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 75%;
  min-width: 300px;
  margin: auto;

  input {
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 15px;
    font-family: $primaryFontFamily;
    font-size: 1.25rem;
  }

  button, .button_form-login_newUser {
    padding: 6px 8px;
    font-family: $primaryFontFamily;
    text-align: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(0, 0, 0, .85);
    border-radius: 5px;
    font-size: 1.25rem;
    border-width: 2px;
    border-color: $primaryColorDark;
    border-style: outset;
    transition: .5s;
    &:hover {
      cursor: pointer;
      transition: .5s;
      background-color: $primaryColor;
      color: rgba(255, 255, 255, 0.95) !important;
      border-color: $primaryColorDark;
    }
  }

  button {
    width: 100%;
  }
}

.alert-dismissible .close {
  padding: .25rem !important;
  width: 30px;
}

.login-hr {
  border-top: 1px solid #000000;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 0;
}

.text_forgot-password {
  color: $primaryColorDark;
  text-align: center;
  padding: 12px 8px;
  margin: 6px 0;
  transition: .5s;
  &:hover {
    color: $primaryColor;
    background-color: rgba(255, 255, 255, 0.25);
    transition: .5s;
  }
}

.text_forgot-password-success {
  color: $primaryColorDark;
  text-align: center;
  margin-top: 24px;
}


@media only screen and (max-width: 415px) {

  .container_form-login_newUser {
    min-width: 300px;
    h1 {
      font-size: 2rem;
      padding: 0 0 20px 0;
    }
  }



}