.add-new-note__btn {
  color: #ffffff;
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  text-align: center;
  width: 75%;
  padding: 20px 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  transition: .5s;
  font-size: 1.5rem;
  box-shadow: 4px 6px .5rem #c8c8c8;

  &:hover {
    cursor: pointer;
    transition: .5s;
    color: $primaryColor;
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 415px) {
  .add-new-note__btn {
    width: 75%;
    padding: 10px 0;
    font-size: 1.25rem;

  }

}