.container_nav-bar {
  width: 100%;
  padding: 8px 12px;
  background-color: $primaryColor;
  color: white;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 64px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  a {
    text-decoration: none;
    color: inherit;
  }

}


.nav-logo {
  max-height: 44px;
}

.nav-brand-header {
  margin-left: 15px;
  font-size: 1.65em;
  &:hover{
    color: #ffffff;
  }
}

.right-side_nav-bar {
  margin-left: auto;
  margin-right: 15px;
  padding: 8px 12px;
  transition: .5s;
  
  &:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 97%);
    color: $primaryColor;
    transition: .5s;
  }
}


@media only screen and (max-width: 415px) {
  .nav-brand-header {
    font-size: 1.45em;
  }

  .right-side_nav-bar {
    margin-right: 0;
  }

}
