.container_single-note-main-window {
  display: grid;
  grid-template-columns: 200px auto;
}

.container__update-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 15px;

  div {
    position: relative;
    padding: 6px 8px;
    width: 100px;
    text-align: center;
    transition: .5s;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      transition: .5s;
      background-color: $primaryColorLight;
    }
    &:after {
      content: "";
      background-color: $primaryColor;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s;

    }

    &:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }

    &:active {
      transform: translateY(3px);
    }



  }
  
  a {
    padding: 6px 8px;
    width: 100px;
    text-align: center;
    transition: .5s;
    &:hover {
      cursor: pointer;
      transition: .5s;
      background-color: $primaryColorLight;
    }
  }
}

.form_update-note {
  width: 100%;
  margin-right: 15px;
}

.container__single-note-left-col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dcdcdc;
  margin-right: 10px;
}

.mobile-container__single-note-left-col {
  display: none;
}

.row__left-column-list {
  width: 100%;
  padding: 6px 0px;
  font-size: 0.8rem;
  transition: .5s;
  border-bottom: 1px solid #dcdcdc;
  &:hover {
    cursor: pointer;
    transition: .5s;
    background-color: $primaryColorLight;
  }
}



@media only screen and (max-width: 415px) {

  .container_single-note-main-window {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }

  .container__single-note-left-col {
    display: none;
  }

  .mobile-container__single-note-left-col {
    display: block;
    height: 45px;
  }

  .mobile-container__top-event-row {
    display: grid;
    grid-template-columns: 50% 50%;

    .add-new-note__btn {
      font-size: 1rem;
    }

    .btn-primary {
      background-color: $primaryColor;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      font-size: 1rem;
      padding: 10px 0;
      width: 75%;
    }

    .dropdown-item {
      padding: .4rem 1.5rem;
    }
  }

}