$primaryColor: #E00045;
$primaryColorDark: #A6001F;
$primaryColorLight: #ffb5c1;

$primaryColorText: rgba(255, 255, 255, 0.95);


$secondaryColor: #424242;
$secondaryColorDark: #6D6D6D;
$secondaryColorLight: #1B1B1B;