@import './variables';



.container_notes-list {
  width: 75%;
  margin: 25px auto;
  padding: 20px 0;  
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}




@import './global/buttons';
@import './global/text';
@import './main-view/grid';
@import './main-view/modal';
@import './single-note-view/single-note';