.container_notes-list {
  width: 75%;
  margin: 25px auto;
  padding: 20px 0;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.add-new-note__btn {
  color: #ffffff;
  background-color: #E00045;
  border: 1px solid #E00045;
  border-radius: 5px;
  text-align: center;
  width: 75%;
  padding: 20px 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 1.5rem;
}

.add-new-note__btn:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  color: #E00045;
  background-color: #ffffff;
}

.header_notes-list {
  font-size: 1.75rem;
  font-weight: 800;
  padding-left: 15px;
}

.header__sortable-lists {
  font-size: 1.5rem;
  color: #474747;
  padding-left: 15px;
}

.header__single-note {
  font-size: 2rem;
  color: #474747;
  padding-left: 15px;
  border-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

.header__single-note:hover {
  border-color: #b9b9b9;
  -webkit-transition: .5s;
  transition: .5s;
}

.subheader__single-note {
  font-size: 1.5rem;
  color: #474747;
  padding: 15px;
  border-bottom: 1px solid #474747;
  margin-bottom: 15px;
  border-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

.subheader__single-note:hover {
  border-color: #b9b9b9;
  -webkit-transition: .5s;
  transition: .5s;
}

.text__single-note {
  font-size: 1.25rem;
  padding: 12px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 450px;
  border-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

.text__single-note:hover {
  border-color: #b9b9b9;
  -webkit-transition: .5s;
  transition: .5s;
}

.notes-list-results {
  font-size: 1.25rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #b9b9b9;
  -webkit-transition: .5s;
  transition: .5s;
}

.notes-list-results:hover {
  cursor: pointer;
  background-color: #ffb5c1;
  -webkit-transition: .5s;
  transition: .5s;
}

.notes-list-results div {
  padding-left: 15px;
}

.notes-list-results .result_category {
  text-transform: capitalize;
}

.row_notes-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
  gap: 10px;
}

.container_modal {
  min-width: 600px;
  padding: 12px 24px;
}

.container_modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 6px;
  font-size: 1.25rem;
}

.container_modal .input_note {
  height: 100px;
  width: 100%;
  padding: 4px 6px;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Modal Form */
.row_new-note-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}

.row_new-note-form-buttons div {
  -webkit-transition: .5s;
  transition: .5s;
  width: 200px;
  background-color: #E00045;
  border: 1px solid #E00045;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  padding: 12px 24px;
  border-radius: 5px;
}

.row_new-note-form-buttons div:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ffffff;
  color: #E00045;
}

.container_single-note-main-window {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
}

.container__update-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  width: 50%;
  margin-bottom: 15px;
  padding-left: 15px;
}

.container__update-buttons div {
  padding: 6px 8px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.container__update-buttons div:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ffb5c1;
}

.container__update-buttons a {
  padding: 6px 8px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.container__update-buttons a:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ffb5c1;
}

.form_update-note {
  width: 100%;
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */