@import './color-palette';



.container_notes-list {
  width: 75%;
  margin: 25px auto;
  padding: 20px 0;




  // border: 1px solid black;
  
}




@import './global/buttons';
@import './global/text';
@import './main-view/grid';
@import './main-view/modal';
