@import './variables';

* {
  box-sizing: border-box;
}

a:-webkit-any-link {
  color: inherit !important;
  cursor: pointer;
  text-decoration: none !important;
}




@import './global/buttons';
@import './global/text';
@import './main-view/grid';
@import './main-view/modal';
@import './single-note-view/single-note';
@import './login_newUser/login_newUser';
@import './global/navbar';